

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/xdialog.css" rel="stylesheet" />
<script src="~/Scripts/xdialog.js"></script>



@if (Session["userName"] != null)
{




    using (Ajax.BeginForm("BookingSearch", "Guest",
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "grContent",
                        InsertionMode = InsertionMode.Replace
                    }))
    {
        <div class="form-horizontal">

            <hr />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="grContent">
                        @Html.Partial("BookingGrid", new List<H20.Entities.Room> { new H20.Entities.Room() });
                    </div>
                    <div id="grBookedContent">
                        @Html.Partial("BookedGrid", new List<H20.Entities.Booking> { new H20.Entities.Booking() });
                    </div>
                </div>
            </div>
        </div>
    }




}
else
{
    Response.Redirect("Login");
}


<script type="text/javascript">

    $(document).ready(function () {

        gridFill();


        var pp = null;                    
    });

    function gridFill() {

        var hotelID = sessionStorage.hotelID;
        var hotelName = sessionStorage.hotelName;


        $.ajax({
            url: "/Guest/BookingSearch",
            type: 'GET',
            data: { hotel_id: hotelID, hotelName: hotelName, gView: "BookingGrid" },
            success: function (data) {
                $("#grContent").html(data);
                ReservedRooms();
            },
            error: function (status, error) {
                alert("An AJAX error occured: " + status + "\nError: " + error);
            }
        });
    }

   
    function GetSelectedRow(link) {

        var row = link.parentNode.parentNode;
              


        let roomEdit = xdialog.create({

            title: 'Rezervacija sobe',
            effect: 'fade_in_and_scale',
            fixChromeBlur: true,
            buttons: null,
            body: '<p style="margin-left:40px" align="left">  '
                + '\
                <div id="roomPop" align="left"> \
                <span class="label"><label style="color:white;"><b>Broj sobe</b></label></span> <br /> \
                <input type="text" name="rBR" id="roomBR" size="40" height="25"></label></span> <br /><br /> \
                    <span class="label"><label style="color:white;"><b>Vrsta sobe</b></label></span> <br /> \
                    <input type="text" name="name" id="roomName" size="40" height="25" /> <br /> <br /><br /> \
                    <span class="label"><label style="color:white;"><b>Cijena noćenja</b></label></span> <br /> \
                    <input type="text" name="price" id="roomPrice" size="5" height="25" /> <br /> <br /><br /> \
                    <span class="label"><label style="color:white;"><b>Broj kreveta</b></label></span> <br /> \
                    <input type="text" name="beds" id="roomBeds" size="5" height="25" /> <br /> <br /><br /> \
                    <span class="label"> \
                        <label id="ldateTo" style="color:white;width:200px;"><b>Datum Od</b></label> \
                        <label id="ldateFrom" style="color:white;"><b>Datum Do</b></label> </span> \
                    <span class="label"> <br /> \
                          <input type="text" name="dateTo"  id="dateTo" /> \
                        <input type="text" name="dateFrom" id="dateFrom"  /><br> \
                    </span> \
                    <br /> <br /> \
                    <p> \
                        <button type="submit" title="Save" class="btnHotelPPS" onclick="ReserveRoom();">Rezerviraj</button>' + '&nbsp;&nbsp;&nbsp;&nbsp; \
                        <button type="submit" title="Close" class="btnHotelPPC" onclick="Close();">Odustani</button> \
                    </p> \
                </div> '

        });

        $("#dateFrom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat:"dd.mm.yy"
        });
        $("#dateTo").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat:"dd.mm.yy"
        });

        $("#roomBR").val(row.getElementsByTagName("TD")[1].innerHTML);
        $("#roomName").val(row.getElementsByTagName("TD")[2].innerHTML);
        $("#roomPrice").val(row.getElementsByTagName("TD")[4].innerHTML);
        $("#roomBeds").val(row.getElementsByTagName("TD")[3].innerHTML);


        roomEdit.show();
        pp = roomEdit;

        return false;
    };

    function GetBookedRow(link) {

        var row = link.parentNode.parentNode;
             

        let roomEdit = xdialog.create({

            title: 'Rezervacija sobe - uređivanje',
            effect: 'fade_in_and_scale',
            fixChromeBlur: true,
            buttons: null,
            body: '<p style="margin-left:40px" align="left">  '
                + '\
                <div id="roomPop" align="left"> \
                 <input type="text" name="bookID" id="bookID" size="5" height="1" style="background-color:black"></label></span> <br /> \
                <span class="label"><label style="color:white;"><b>Broj sobe</b></label></span> <br /> \
                <input type="text" name="rBR" id="roomBR" size="40" height="25"></label></span> <br /><br /> \
                    <span class="label"><label style="color:white;"><b>Vrsta sobe</b></label></span> <br /> \
                    <input type="text" name="name" id="roomName" size="40" height="25" /> <br /> <br /><br /> \
                    <span class="label"><label style="color:white;"><b>Cijena noćenja</b></label></span> <br /> \
                    <input type="text" name="price" id="roomPrice" size="5" height="25" /> <br /> <br /><br /> \
                    <span class="label"><label style="color:white;"><b>Broj kreveta</b></label></span> <br /> \
                    <input type="text" name="beds" id="roomBeds" size="5" height="25" /> <br /> <br /><br /> \
                    <span class="label"> \
                        <label id="ldateTo" style="color:white;width:200px;"><b>Datum Od</b></label> \
                        <label id="ldateFrom" style="color:white;"><b>Datum Do</b></label> </span> \
                    <span class="label"> <br /> \
                          <input type="text" name="dateFrom"  id="dateFrom" /> \
                        <input type="text" name="dateTo" id="dateTo"  /><br> \
                    </span> \
                    <br /> <br /> \
                    <p> \
                        <button type="submit" title="Save" class="btnHotelPPS" onclick="EditReserveRoom();">Promjeni</button>' + '&nbsp;&nbsp;&nbsp;&nbsp; \
                        <button type="submit" title="Close" class="btnHotelPPC" onclick="Close();">Odustani</button> \
                    </p> \
                </div> '

        });

        $("#bookID").val(row.getElementsByTagName("TD")[2].innerHTML);
        $("#roomBR").val(row.getElementsByTagName("TD")[4].innerHTML);
        $("#roomName").val(row.getElementsByTagName("TD")[5].innerHTML);
        $("#roomPrice").val(row.getElementsByTagName("TD")[7].innerHTML);
        $("#roomBeds").val(row.getElementsByTagName("TD")[6].innerHTML);       
        $("#dateFrom").val(row.getElementsByTagName("TD")[8].innerHTML);
         $("#dateTo").val(row.getElementsByTagName("TD")[9].innerHTML);


        roomEdit.show();
        pp = roomEdit;

        return false;
    };

    function ReserveRoom() {

        var roomID = $("#roomBR").val();       
        var priceVal = $("#roomPrice").val();
        var dateToVal = $("#dateTo").val();
        var dateFromVal = $("#dateFrom").val();      
             
        $.ajax({
            url: "/Guest/BookingSave",
            type: 'post',
            data: {room_id: roomID, price: priceVal, dateTo: dateToVal, dateFrom: dateFromVal },
            success: function () {
                alert("Soba rezervirana.");
                ReservedRooms();
                pp.hide();
            },
            error: function (status, error) {
                alert("An AJAX error occured: " + status + "\nError: " + error);
            }
        });
    }

    function ReservedRooms() {
         $.ajax({
            url: "/Guest/BookedRoomSearch",
            type: 'post',
            data: {gView: "BookedGrid" },
             success: function (data) {
                 $("#grBookedContent").html(data);
            },
            error: function (status, error) {
                alert("An AJAX error occured: " + status + "\nError: " + error);
            }
        });
    }

     function EditReserveRoom() {

        var bookID = $("#bookID").val(); 
        var price = $("#roomPrice").val();            
        var dateToVal = $("#dateTo").val();
        var dateFromVal = $("#dateFrom").val();      
                
             
        $.ajax({
            url: "/Guest/BookingUpdate",
            type: 'post',
            data: {book_id:bookID,price:price,dateFrom: dateFromVal,dateTo: dateToVal },
            success: function () {
                alert("Rezervacija promjenjena.");
                ReservedRooms();
                pp.hide();
            },
            error: function (status, error) {
                alert("An AJAX error occured: " + status + "\nError: " + error);
            }
        });
    }

    function Close() {

        pp.hide();
    }

    function DeleteReservedRoom(link) {

        var row = link.parentNode.parentNode;

        var BookingID = row.getElementsByTagName("TD")[2].innerHTML;

         if (BookingID != 0) {

             $('<div></div>').appendTo('body')
                 .html('<div><h6 style ="color:white;background-color:black">Želite obrisati rezervaciju ' + BookingID + ' ?</h6></div>')
                .dialog({
                    modal: true, title: 'Booking - Delete', zIndex: 10000, autoOpen: true,
                    width: 'auto', resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                url: "/Guest/DeleteBooking",
                                data: { bookingID: BookingID },
                                type: "post",
                                success: function (data) {
                                    alert("Rezervacija obrisana.");
                                    ReservedRooms();
                                },
                                error: function (status, error) {
                                    alert("An AJAX error occured: " + status + "\nError: " + error);
                                }
                            });

                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        }
    }


</script>

